<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiyun.kfcoding.rest.modular.course.dao.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuiyun.kfcoding.rest.modular.course.model.Course">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="is_del" property="isDel" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <collection property="klasses" ofType="com.cuiyun.kfcoding.rest.modular.course.model.Klass" select="getKlass" column="id" />
        <collection property="works" ofType="com.cuiyun.kfcoding.rest.modular.course.model.Work" select="getWork" column="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, update_time, version, is_del, name, description, user_id, status
    </sql>

    <select id="getKlass" parameterType="java.lang.String" resultType="com.cuiyun.kfcoding.rest.modular.course.model.Klass">
        SELECT k.id, k.name
        FROM course_klass k
        INNER JOIN course_course c ON c.id=k.course_id
        WHERE c.id=#{id}
    </select>

    <select id="getWork" parameterType="java.lang.String" resultType="com.cuiyun.kfcoding.rest.modular.course.model.Work">
        SELECT w.id, w.name
        FROM course_work w
        INNER JOIN course_course c ON c.id=w.course_id
        WHERE c.id=#{id}
    </select>

</mapper>
