<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiyun.kfcoding.rest.modular.book.dao.KongfuMapper">

    <resultMap id="BaseResultMap" type="com.cuiyun.kfcoding.rest.modular.book.model.Kongfu">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="author" property="author" />
        <result column="type" property="type" />
        <result column="brief" property="brief" />
        <result column="create_time" property="createTime" />
        <result column="user_id" property="userId" />
        <result column="level" property="level" />
        <result column="surface_image" property="surfaceImage" />
        <result column="surface_background" property="surfaceBackground" />
        <result column="status" property="status" />
        <result column="priority" property="priority" />
        <result column="is_del" property="isDel" />
        <result column="update_time" property="updateTime" />
        <collection property="tags" ofType="com.cuiyun.kfcoding.rest.modular.book.model.Tag" select="getTags" column="id">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, author, type, brief, create_time AS createTime, user_id AS userId, level, surface_image AS surfaceImage, surface_background AS surfaceBackground, status, priority, is_del AS isDel, update_time AS updateTime, version
    </sql>

    <sql id="Column_List">
        k.id, k.title, k.author, k.type, k.brief, k.user_id, k.level, k.surface_image, k.surface_background, k.status, k.priority, k.is_del, k.version, k.update_time
    </sql>

    <select id="findListByStatus" resultMap="BaseResultMap" >
        SELECT 
        <include refid="Column_List" />
        FROM book_kongfu k
        WHERE k.status = #{status} AND k.is_del = 0
    </select>

    <select id="getKongfuById" resultMap="BaseResultMap">
        SELECT
        <include refid="Column_List" />
        FROM book_kongfu k
        WHERE k.id=#{id} AND k.is_del = 0
    </select>

    <select id="getTags" parameterType="java.lang.String" resultType="com.cuiyun.kfcoding.rest.modular.book.model.Tag">
        SELECT t.id, t.name
        FROM book_kongfu k
        INNER JOIN book_kongfu_to_tag ktg ON k.id=ktg.kongfu_id
        INNER JOIN book_tag t ON ktg.tag_id=t.id
        WHERE k.id=#{id} AND k.is_del = 0
    </select>

    <select id="getKongfuByTag" resultMap="BaseResultMap">
        SELECT
        <include refid="Column_List" />
        FROM book_tag t
        LEFT JOIN book_kongfu_to_tag ktg ON t.id=ktg.tag_id
        LEFT JOIN book_kongfu k ON ktg.kongfu_id=k.id
        WHERE t.id=#{id} AND k.status=#{status} AND k.is_del = 0
    </select>

</mapper>
