<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cuiyun.kfcoding.rest.modular.common.dao.WorkspaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cuiyun.kfcoding.rest.modular.common.model.Workspace">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="git_url" property="gitUrl" />
        <result column="image" property="image" />
        <result column="version" property="version" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_del" property="isDel" />
        <result column="status" property="status" />
        <result column="user_id" property="userId" />
        <result column="container_name" property="containerName" />
        <result column="release" property="release" />
        <result column="repo" property="repo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, description, git_url, image, version, create_time, update_time, is_del, status, user_id, container_name, release,repo
    </sql>

    <select id="getWorkById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM course_work w
        WHERE w.id = #{id}
    </select>

</mapper>
